# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
assets/dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Air
/tmp

# Generated templ files
*_templ.go
*_templ.txt

# Generated binary
bakersfield-technology

# Copied NPM assets
assets/public/heroicons/*
!assets/public/heroicons/.keep
