package components

templ FadeIn() {
	<div class="group fade-in fade-in--start">
		<div
			class="
				transform-gpu transition ease-out duration-300
				motion-reduce:!opacity-100 motion-reduce:!translate-x-0
				group-[.fade-in--start]:translate-x-6 group-[.fade-in--start]:opacity-0
				group-[.fade-in--end]:translate-x-0 group-[.fade-in--end]:opacity-100
			"
		>
			{ children... }
		</div>
	</div>
}
