package components

templ hero() {
    <header
      className="
        flex items-center
        min-h-screen bg-gradient-to-br 
        from-pink-600 to-purple-500 text-white
        px-6 sm:px-10 pt-24 pb-20 relative
      "
    >
    </header>
}

