package components

templ Hero() {
	<header
		className="
			flex items-center
			min-h-screen bg-gradient-to-br 
			from-pink-600 to-purple-500 text-white
			px-6 sm:px-10 pt-24 pb-20 relative
		"
	>
		@insetBackground()
	</header>
}

templ insetBackground() {
	<div
		class="z-0 inset-0 fixed bg-no-repeat bg-cover bg-center opacity-30 mix-blend-soft-light"
		style="background-image: url(/static/hero.jpg)"
	/>
}

