# Replace all instances of <username> with the system's user

[Unit]
Description=Bakersfield Technology
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/bakersfieldtechnology.com
User=<username>
Restart=always
ExecStart=/srv/bakersfieldtechnolgy.com /srv/bakersfieldtechnology.com

[Install]
WantedBy=multi-user.target
