# Replace <username> with the system's user

[Unit]
Description=Bakersfield Technology
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/
User=<username>
Restart=always
ExecStart=/srv/bakersfieldtechnology.com

[Install]
WantedBy=multi-user.target
